Imports:

In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.base import BaseEstimator, TransformerMixin # Para definição de transformadores personalizados
from sklearn.preprocessing import OneHotEncoder, Imputer, FunctionTransformer
from category_encoders import OrdinalEncoder
from sklearn.pipeline import Pipeline, FeatureUnion

import time

In [110]:
matrix = np.array(
    [
        ['a', 'b', 'c', 'd', 'e'],
        ['f', 'g', 'h', 'i', 'j'],
        ['a', 'r', 'h', 'p', 'e']
    ]
)

In [89]:
matrix

array([['a', 'b', 'c', 'd', 'e'],
       ['f', 'g', 'h', 'i', 'j']], dtype='<U1')

Selecionando colunas específicas:

In [95]:
matrix[:, [0, 2, 3]]

array([['a', 'c', 'd'],
       ['f', 'h', 'i']], dtype='<U1')

Selecionando todas exceto colunas específicas

In [96]:
matrix_except = np.delete(matrix, [0, 2, 3], axis=1)

In [97]:
matrix_except

array([['b', 'e'],
       ['g', 'j']], dtype='<U1')

Concatenando vetores coluna a uma matriz

In [99]:
matrix_concat = np.c_[matrix_except, np.array(['1','2'])]

In [100]:
matrix_concat

array([['b', 'e', '1'],
       ['g', 'j', '2']], dtype='<U1')

Aplicando o label encoder a varias colunas. Isso é problemático pois estamos perdendo o fit, que tem de ser aplicado ao dataset de testes

In [111]:
le = LabelEncoder()
matrix_transf = np.apply_along_axis(le.fit_transform, 0, matrix)

In [112]:
matrix_transf

array([[0, 0, 0, 0, 0],
       [1, 1, 1, 1, 1],
       [0, 2, 1, 2, 0]], dtype=int64)

In [161]:
test = np.array(['w', np.nan, 'q'])
le = LabelEncoder()

X = le.fit_transform(test)

In [163]:
X

array([2, 0, 1], dtype=int64)

Teste imputer - A pergunta é: Se aplico um imputer de most frequent a múltiplas colunas ele faz a imputação coluna a coluna ou mistura tudo?

In [47]:
test = np.array([
    [1, 2, 3],
    [0, 2, 3],
    [1, 3, 3],
    [1, 4, 3],
    [0, 5, 3],
    [-1, -1, -1]
])

imp = Imputer(missing_values=-1, strategy='most_frequent')

test_transf = imp.fit_transform(test)

In [48]:
test_transf

array([[1., 2., 3.],
       [0., 2., 3.],
       [1., 3., 3.],
       [1., 4., 3.],
       [0., 5., 3.],
       [1., 2., 3.]])

Conclusão: o imputador ser comporta de forma opropriada

# 1. Introdução

Carregando dados:

In [2]:
converters = {key: lambda x: np.nan if not x else str(x) for key in ('param_1', 'param_2', 'param_3')}

df_train = pd.read_csv(
    './data/train.csv',
    parse_dates=['activation_date'],
    converters=converters                  
)

In [3]:
df_train.head()

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1,deal_probability
0,b912c3c6a6ad,e00f8ff2eaf9,Свердловская область,Екатеринбург,Личные вещи,Товары для детей и игрушки,Постельные принадлежности,NaN,NaN,Кокоби(кокон для сна),"Кокон для сна малыша,пользовались меньше месяц...",400.0,2,2017-03-28,Private,d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...,1008.0,0.12789
1,2dac0150717d,39aeb48f0017,Самарская область,Самара,Для дома и дачи,Мебель и интерьер,Другое,NaN,NaN,Стойка для Одежды,"Стойка для одежды, под вешалки. С бутика.",3000.0,19,2017-03-26,Private,79c9392cc51a9c81c6eb91eceb8e552171db39d7142700...,692.0,0.00000
2,ba83aefab5dc,91e2f88dd6e3,Ростовская область,Ростов-на-Дону,Бытовая электроника,Аудио и видео,"Видео, DVD и Blu-ray плееры",NaN,NaN,Philips bluray,"В хорошем состоянии, домашний кинотеатр с blu ...",4000.0,9,2017-03-20,Private,b7f250ee3f39e1fedd77c141f273703f4a9be59db4b48a...,3032.0,0.43177
3,02996f1dd2ea,bf5cccea572d,Татарстан,Набережные Челны,Личные вещи,Товары для детей и игрушки,Автомобильные кресла,NaN,NaN,Автокресло,Продам кресло от0-25кг,2200.0,286,2017-03-25,Company,e6ef97e0725637ea84e3d203e82dadb43ed3cc0a1c8413...,796.0,0.80323
4,7c90be56d2ab,ef50846afc0b,Волгоградская область,Волгоград,Транспорт,Автомобили,С пробегом,ВАЗ (LADA),2110,"ВАЗ 2110, 2003",Все вопросы по телефону.,40000.0,3,2017-03-16,Private,54a687a3a0fc1d68aed99bdaaf551c5c70b761b16fd0a2...,2264.0,0.20797

In [4]:
X_train, y_train = df_train[df_train.columns.difference(['deal_probability'])], df_train[['deal_probability']]

In [43]:
X_train.head()

,activation_date,category_name,city,description,image,image_top_1,item_id,item_seq_number,param_1,param_2,param_3,parent_category_name,price,region,title,user_id,user_type
0,2017-03-28,Товары для детей и игрушки,Екатеринбург,"Кокон для сна малыша,пользовались меньше месяц...",d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...,1008.0,b912c3c6a6ad,2,Постельные принадлежности,NaN,NaN,Личные вещи,400.0,Свердловская область,Кокоби(кокон для сна),e00f8ff2eaf9,Private
1,2017-03-26,Мебель и интерьер,Самара,"Стойка для одежды, под вешалки. С бутика.",79c9392cc51a9c81c6eb91eceb8e552171db39d7142700...,692.0,2dac0150717d,19,Другое,NaN,NaN,Для дома и дачи,3000.0,Самарская область,Стойка для Одежды,39aeb48f0017,Private
2,2017-03-20,Аудио и видео,Ростов-на-Дону,"В хорошем состоянии, домашний кинотеатр с blu ...",b7f250ee3f39e1fedd77c141f273703f4a9be59db4b48a...,3032.0,ba83aefab5dc,9,"Видео, DVD и Blu-ray плееры",NaN,NaN,Бытовая электроника,4000.0,Ростовская область,Philips bluray,91e2f88dd6e3,Private
3,2017-03-25,Товары для детей и игрушки,Набережные Челны,Продам кресло от0-25кг,e6ef97e0725637ea84e3d203e82dadb43ed3cc0a1c8413...,796.0,02996f1dd2ea,286,Автомобильные кресла,NaN,NaN,Личные вещи,2200.0,Татарстан,Автокресло,bf5cccea572d,Company
4,2017-03-16,Автомобили,Волгоград,Все вопросы по телефону.,54a687a3a0fc1d68aed99bdaaf551c5c70b761b16fd0a2...,2264.0,7c90be56d2ab,3,С пробегом,ВАЗ (LADA),2110,Транспорт,40000.0,Волгоградская область,"ВАЗ 2110, 2003",ef50846afc0b,Private

In [192]:
np.dtype(df_train['param_2'][4])

UnicodeEncodeError: 'ascii' codec can't encode characters in position 0-2: ordinal not in range(128)

In [62]:
df_train['param_2'][:1]

0    NaN
Name: param_2, dtype: object

In [78]:
len(np.unique(df_train['param_2'][~pd.isnull(df_train['param_2'].values)].values))

271

In [44]:
df_train.columns

Index(['item_id', 'user_id', 'region', 'city', 'parent_category_name',
       'category_name', 'param_1', 'param_2', 'param_3', 'title',
       'description', 'price', 'item_seq_number', 'activation_date',
       'user_type', 'image', 'image_top_1', 'deal_probability'],
      dtype='object')

**TODO**: Visualizações de dados cairiam bem aqui. Consultar livro do Geron

In [20]:
df_train.dtypes

item_id                         object
user_id                         object
region                          object
city                            object
parent_category_name            object
category_name                   object
param_1                         object
param_2                         object
param_3                         object
title                           object
description                     object
price                          float64
item_seq_number                  int64
activation_date         datetime64[ns]
user_type                       object
image                           object
image_top_1                    float64
deal_probability               float64
dtype: object

In [5]:
test_union = FeatureUnion([
    ('price_selector', DataFrameSelector(['price'])),
    ('item_seq_number', DataFrameSelector(['item_seq_number']))
])

X = test_union.fit_transform(df_train)

df_test = pd.DataFrame(X, columns=['price', 'item_seq_number'])

In [6]:
df_test.head()

     price  item_seq_number
0    400.0              2.0
1   3000.0             19.0
2   4000.0              9.0
3   2200.0            286.0
4  40000.0              3.0

Testando slicing com DataFrames:

In [19]:
# Listando colunas a serem tomadas
df_test = df_train[['activation_date']]

In [20]:
df_test.head()

  activation_date
0      2017-03-28
1      2017-03-26
2      2017-03-20
3      2017-03-25
4      2017-03-16

In [17]:
# Listando colunas a serem ignoradas
df_test = df_train[df_train.columns.difference(['param_1', 'param_2', 'param_3'])]

In [18]:
df_test

,activation_date,category_name,city,deal_probability,description,image,image_top_1,item_id,item_seq_number,parent_category_name,price,region,title,user_id,user_type
0,2017-03-28,Товары для детей и игрушки,Екатеринбург,0.12789,"Кокон для сна малыша,пользовались меньше месяц...",d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...,1008.0,b912c3c6a6ad,2,Личные вещи,400.0,Свердловская область,Кокоби(кокон для сна),e00f8ff2eaf9,Private
1,2017-03-26,Мебель и интерьер,Самара,0.00000,"Стойка для одежды, под вешалки. С бутика.",79c9392cc51a9c81c6eb91eceb8e552171db39d7142700...,692.0,2dac0150717d,19,Для дома и дачи,3000.0,Самарская область,Стойка для Одежды,39aeb48f0017,Private
2,2017-03-20,Аудио и видео,Ростов-на-Дону,0.43177,"В хорошем состоянии, домашний кинотеатр с blu ...",b7f250ee3f39e1fedd77c141f273703f4a9be59db4b48a...,3032.0,ba83aefab5dc,9,Бытовая электроника,4000.0,Ростовская область,Philips bluray,91e2f88dd6e3,Private
3,2017-03-25,Товары для детей и игрушки,Набережные Челны,0.80323,Продам кресло от0-25кг,e6ef97e0725637ea84e3d203e82dadb43ed3cc0a1c8413...,796.0,02996f1dd2ea,286,Личные вещи,2200.0,Татарстан,Автокресло,bf5cccea572d,Company
4,2017-03-16,Автомобили,Волгоград,0.20797,Все вопросы по телефону.,54a687a3a0fc1d68aed99bdaaf551c5c70b761b16fd0a2...,2264.0,7c90be56d2ab,3,Транспорт,40000.0,Волгоградская область,"ВАЗ 2110, 2003",ef50846afc0b,Private
5,2017-03-28,Товары для детей и игрушки,Чистополь,0.80323,В хорошем состоянии,eb6ad1231c59d3dc7e4020e724ffe8e4d302023ddcbb99...,796.0,51e0962387f7,9,Личные вещи,1300.0,Татарстан,Авто люлька,bbfad0b1ad0a,Private
6,2017-03-23,Ремонт и строительство,Нижний Новгород,0.00000,Электро водонагреватель накопительный на 100 л...,0330f6ac561f5db1fa8226dd5e7e127b5671d44d075a98...,2823.0,c4f260a2b48a,125,Для дома и дачи,11000.0,Нижегородская область,Водонагреватель 100 литров нержавейка плоский,08f469d2e6f7,Private
7,2017-03-25,"Одежда, обувь, аксессуары",Пермь,0.80323,Бойфренды в хорошем состоянии.,9bab29a519e81c14f4582024adfebd4f11a4ac71d323a6...,567.0,6b71309d6a8a,61,Личные вещи,500.0,Пермский край,Бойфренды colins,fef86baa002c,Private
8,2017-03-17,"Одежда, обувь, аксессуары",Оренбург,0.00000,54 раз мер очень удобное,75ce06d1f939a31dfb2af8ac55f08fa998fa336d13ee05...,415.0,c5b969cb63a2,85,Личные вещи,500.0,Оренбургская область,Платье,055825270190,Private
9,2017-03-22,Детская одежда и обувь,Нижний Новгород,0.00000,По стельке 15.5см мерить приокский район. Цвет...,54fb8521135fda77a860bfd2fac6bf46867ab7c06796e3...,46.0,b1570962e68c,136,Личные вещи,400.0,Нижегородская область,Полу ботиночки замш натур.Бамбини,f9e8f831d94c,Company
10,2017-03-25,Квартиры,Ханты-Мансийск,0.58853,Сдается однокомнатная мебелированная квартира ...,645d3fb949cb116a00c596ca1e168d8c5ddd21cdeacc5a...,1396.0,d5480bb4a6e4,6,Недвижимость,18000.0,Ханты-Мансийский АО,"1-к квартира, 25 м², 2/2 эт.",d46200940f37,Private
11,2017-03-19,"Одежда, обувь, аксессуары",Заводоуковск,0.00000,NaN,5162fdb7d8427738370d3145647d2726546f65631e5de9...,119.0,86f41f50d8c1,4,Личные вещи,1.0,Тюменская область,Джинсы,35c2b6b654e0,Shop
12,2017-03-21,Товары для детей и игрушки,Оренбург,0.13858,"Атлас история нового времени,19 век./\nКонтурн...",5ba63fecb66633cde074c661e0249e26af5cf370241e13...,1040.0,645237cb3601,15,Личные вещи,70.0,Оренбургская область,Атласы и Контурныя карты за 8 класс,fc9a38b79414,Private
13,2017-03-22,Товары для компьютера,Ростов-на-Дону,0.00000,Продам манитор 18.5 v193HQV. В хорошем состоянии,0c84cef077d10e5bb37af78049fb0a593c9f1c7f37f458...,2849.0,df2116f34563,47,Бытовая электроника,2500.0,Ростовская область,Монитор acer 18.5,3ce3c2318b16,Private
14,2017-03-23,Собаки,Туймазы,0.00000,"родились 1 февраля,три кобеля и сучка.",09ebf4b30bad5857a1f26cd18d907c1e888bbe718bb13d...,2133.0,a97943ae8158,6,Животные,5000.0,Башкортостан,Продаются щенки немецкой овчарки,f643d87dd23c,Private
15,2017-03-27,"Одежда, обувь, аксессуары",Казань,0.00000,Одето 1 раз на пару часов. Длина 79. Можно кор...,df76951e5cc7073553ea3214fd2024b9f80166828a5356...,408.0,4b6abd0a5921,86,Личные вещи,800.0,Татарстан,Платье женское новое,94de2b374869,Private
16,2017-03-18,Автомобили,Краснодар,0.32100,"Кондиционер, гидроусилитель руля, электрически...",5244375e00cb2baefa50f4b01156cc492f8733b93c6cba...,1118.0,7896ef8fe482,201,Транспорт,140000.0,Краснодарский край,"Chevrolet Lanos, 2008",007c6bd858cb,Company
17,2017-03-20,Товары для детей и игрушки,Новосибирск,0.00000,"Размеры 75*53*15. Основа-картон, декор-гофриро...",0cdd241246bd930c0026315484d87817c47ce4d586d99b...,983.0,7882b1e77748,9,Личные вещи,500.0,Новосибирская область,Объемная цифра 2,7a3fda0cdf94,Private
18,2017-03-24,"Одежда, обувь, аксессуары",Москаленки,0.00000,"Куртка новая, очень удобная, ценник был утерян...",1a60aa7ac1bab4fac1171650369e19d2e6872483d89032...,95.0,071e1ed13c5c,4,Личные вещи,1000.0,Омская область,Куртка весенняя(осенняя),325cacee50f4,Private
19,2017-03-28,"Дома, дачи, коттеджи",Белгород,0.10342,Семейная пара из двух человек снимет коттедж с...,NaN,NaN,0658628930d4,5,Недвижимость,100000.0,Белгородская область,Сниму коттедж,27c2d83b766e,Private
20,2017-03-17,Квартиры,Бердск,0.00000,Дом находиться внутри квартала./\nПластиковые ...,e9fb67b3d22cbf7cf569337780aea8a5c1ddac8b4b6b74...,2011.0,ea12aec32ec3,461,Недвижимость,1748000.0,Новосибирская область,"2-к квартира, 44 м², 5/5 эт.",06ee4ff4e99c,Company
21,2017-03-16,"Одежда, обувь, аксессуары",Екатеринбург,0.00000,"Продам шапку, норка, цвет коричневый, в отличн...",NaN,NaN,838a82cec0a6,33,Личные вещи,2600.0,Свердловская область,Шапка норковая,5d44315f6d90,Private
22,2017-03-20,Автомобили,Магнитогорск,0.10334,Полная комплектация. ГУР. 4 эсп. Подогрев сид...,1c873f41cea87bc32f52d0a99cf5ff6a33305f0542b7f7...,2264.0,de310e6aae86,12,Транспорт,249000.0,Челябинская область,"Ford Focus, 2005",0178e6308f38,Private
23,2017-03-20,Детская одежда и обувь,Ростов-на-Дону,0.00000,"Очень красивые стильные туфельки, состояние от...",6edfface637bd8f85e5614b57a840cb7ec168aed081ba4...,87.0,08b24e170109,59,Личные вещи,1300.0,Ростовская область,Туфли moschino,6630d724bbf5,Private
24,2017-03-16,Товары для животных,Нижний Новгород,0.00000,"Таблетки ""Бравекто"" от блох и клещей по ценам:...",22babf609cfcbca6b1d5ca81321fd6f58e873903c8fc0a...,843.0,065a4daba35f,310,Животные,NaN,Нижегородская область,Таблетки бравекто,19a5cd02c89b,Company
25,2017-03-24,Товары для детей и игрушки,Воронеж,0.10796,Пинки Пай ждёт любящую хозяйку./\nВ комплекте ...,a8f76b8abea964400c4075cedaea9f7a0c970b5a5f2f8e...,957.0,990113ae4f1c,309,Личные вещи,1500.0,Воронежская область,Пинки Пай My Little Pony,d9b494f97062,Company
26,2017-03-26,Мебель и интерьер,Тольятти,0.00000,"Продам ламбрикен в хорошем состоянии,длина 2,20.",b3c27bf75ffb0dad53a1f4a04fc8c335040468879b1365...,1420.0,78164bc09657,59,Для дома и дачи,1000.0,Самарская область,Ламбрикен,721c2f914f63,Private
27,2017-03-27,"Одежда, обувь, аксессуары",Новокузнецк,0.00000,Ботинки б/у в хорошем состоянии. Размер 37,1d0cc04d7e20f696fbdc181dd3ab9ea964b57b46a981c9...,436.0,fbe29970a8a5,8,Личные вещи,1500.0,Кемеровская область,Ботинки,2f0e2746d462,Private
28,2017-03-25,"Одежда, обувь, аксессуары",Саратов,0.00000,"Новое, очень нарядное платье, Рост 170 см, раз...",c4f1d5ccdbda96f2a4718f997318813c84de9e057d3528...,618.0,71d9399b59a2,12,Личные вещи,1000.0,Саратовская область,Продаю новое платье,965ee1e259eb,Private
29,2017-03-19,Детская одежда и обувь,Нижний Новгород,0.00000,"Состояние хорошее, носили мало.",659081173b0a320fae12fe7f8f7bbf9e361444cfcf5ff8...,63.0,4941f0385575,20,Личные вещи,200.0,Нижегородская область,Песочник Crockid,d283308a713b,Private
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1503394,2017-03-16,Мебель и интерьер,Ростов-на-Дону,0.33720,"В связи с оптимизацией помещений, продаю офисн...",42a0eeeed54478f2fb8d7cbf9b8ed2a53ed39eb7c2bb32...,1460.0,c346749a7127,5,Для дома и дачи,2000.0,Ростовская область,Офисная мебель,6df435165550,Private
1503395,2017-03-28,Мотоциклы и мототехника,Братск,0.00000,продам болотоход юпитер 3,9765edf15ac427120c1359e3d4dd813a475cc4f4b94701...,1142.0,3c073bb117d8,41,Транспорт,20000.0,Иркутская область,Продам болотоход юпитер 3,f3db5b0b12a1,Company
1503396,2017-03-21,Музыкальные инструменты,Кимовск,0.00000,Находится в Кимовске. Самовывоз,17558d450f7de115acc61ec7bc08073443e14753940d8a...,2514.0,6fcc0d49b22d,32,Хобби и отдых,NaN,Тульская область,Пианино Аккорд,cd553840f1a2,Private
1503397,2017-03-20,"Одежда, обувь, аксессуары",Ярославль,0.00000,"Стильный жакет. Можно и для беременной, можно ...",756323281a7579f2bd1c8fc66182f13c0c5d9817424bbb...,569.0,f7cb51309717,36,Личные вещи,450.0,Ярославская область,Жакет,a96bf12eaaba,Private
1503398,2017-03-18,"Одежда, обувь, аксессуары",Красноярск,0.00000,"пальто,фирмы ""Белла"", размер 46, цвет ""фуксия...",224a4b70e48a6ce3acdc8cebe3d8df7e1740472954a766...,523.0,cb74d5fa1498,8,Личные вещи,500.0,Красноярский край,Пальто демисезонное,141a6ebb6456,Private
1503399,2017-03-26,Книги и журналы,Волгоград,0.00000,Цена за все книги оптом,4e711d8c72b89b011d30df969aeca7599646f3912fb5a6...,2286.0,55760672b23e,2,Хобби и отдых,300.0,Волгоградская область,"Серия книг ""Бессмертные "" все сразу",085e58413b19,Private
1503400,2017-03-20,Товары для компьютера,Новая Усмань,0.00000,NaN,f3ccc832ed847c606080e4d26456d5bdefd601e8703e85...,2853.0,15dc060224ab,12,Бытовая электроника,400.0,Воронежская область,Оперативная память,13d487ead5a2,Private
1503401,2017-03-26,Детская одежда и обувь,Нефтеюганск,0.14989,Состояние хорошее. Демисезонные,b75fc36c2432cc50b11ba789e360e60a8929b2b9daf1c5...,118.0,87cb486a418d,6,Личные вещи,250.0,Ханты-Мансийский АО,Джинсы для девочек,bd8cd55a533a,Private
1503402,2017-03-20,Автомобили,Самара,0.23044,"Продаю bmw 3 серии в прекрасном состоянии, пра...",709729b67a3dafba282b5299ab76cf95ec97abd35eec55...,1118.0,5e317564107b,61,Транспорт,720000.0,Самарская область,"BMW 3 серия, 2009",7d2bc0de4caa,Private
1503403,2017-03-20,Детская одежда и обувь,Нижний Новгород,0.00000,"Продам сандалии б/у,размер 18 на первые шаги,п...",9719775bb3aa3f87be91caf3545efbd262a3d02b89ac4e...,93.0,d630ca83fc9e,23,Личные вещи,500.0,Нижегородская область,Сандалии Таши Орто,ad73bbe882db,Private
1503404,2017-03-28,Автомобили,Самара,0.01232,"В отличном состоянии, вложений не требует, 100...",4d3f4f83f0c065f26ec64fac298936e3a4b0b505402fb0...,1055.0,732b69fced92,1,Транспорт,1300000.0,Самарская область,"Mercedes-Benz M-класс, 2008",94a9c852a234,Private
1503405,2017-03-26,Товары для детей и игрушки,Калининград,0.00000,Продается детский шезлонг +0 до 9 кг. В отличн...,c5774df8edc744e41c174a3e7987d93359c71e10937aef...,821.0,fc8ff7c77732,39,Личные вещи,3000.0,Калининградская область,Продается шезлонг фирмы Чико,049099972988,Private
1503406,2017-03-16,Ремонт и строительство,Холмская,0.86521,В отличном состоянии /\nзабирать в холмской центр,38eb5445db2433f192d0d7383761177e71aaf56f206351...,1348.0,bb532fcc7dec,259,Для дома и дачи,3000.0,Краснодарский край,Садовая тачка,391e0fa1bb2d,Private
1503407,2017-03-19,Детская одежда и обувь,Екатеринбург,0.00000,Двусторонняя!,e0fef616352e4834f1a2023d8884582b8ed460b2745c3b...,53.0,ff2a88b765c6,33,Личные вещи,300.0,Свердловская область,Лёгкая куртка размер 92,152a1d5e6178,Private
1503408,2017-03-20,Коммерческая недвижимость,Саратов,0.12384,Продается 4 офисных помещения площадью от 106 ...,072bf1c8af2f3a046bdfbe4e65b7343b4884c48b396194...,2221.0,d23a9e2a65e1,24,Недвижимость,1600000.0,Саратовская область,Нежилое помещение,02652bf7abdd,Company
1503409,2017-03-22,Детская одежда и обувь,Воронеж,0.12459,Новые платья разные в наличии!!!,b7188a3b2f7ec022758297933d20843d40bd0f8cbf6ea6...,127.0,79386f3f2573,145,Личные вещи,480.0,Воронежская область,Нвые платья,e8788c35b158,Company
1503410,2017-03-22,"Одежда, обувь, аксессуары",Новороссийск,0.00000,"Платье очень комфортное, покупала на праздник,...",e1138cb112dd93a0fb12d84bec55177dbff3decd184002...,387.0,2bc8c895545b,26,Личные вещи,3000.0,Краснодарский край,Платье женское,f1fbfb3dc6fa,Private
1503411,2017-03-26,"Одежда, обувь, аксессуары",Новоалтайск,0.00000,NaN,96a65b018d54fe4a59614ac2574003d879635df19c80bf...,590.0,43ad2ec1cd29,17,Личные вещи,150.0,Алтайский край,Кофта,b1ff78e0d361,Private
1503412,2017-03-21,Коллекционирование,Красноярск,0.00000,Виниловай грампластинка. /\nСостояние конверта...,c7ca77c0fa64ccc68e7a2ec620d969c2212b206afd3cfc...,2402.0,872691eb6232,78,Хобби и отдых,150.0,Красноярский край,Винил пластинка СССР А. Кальянов Жена жена,c257da473f0b,Company
1503413,2017-03-16,Товары для детей и игрушки,Когалым,0.00000,"Коляска в идеальном состоянии, практически не ...",2b2cc11564c63b2dc66d2bef5b94ede8f54108521411f1...,2336.0,00b6a41d5af9,77,Личные вещи,8000.0,Ханты-Мансийский АО,Продам коляску 2в1,704b0a259816,Private
1503414,2017-03-24,Мебель и интерьер,Бийск,0.00000,"продам мягкую мебель-диван и 2 кресла-кровати,...",361061e2129fe9c77b1b689e3e2071dc10e7a9c93dcee4...,1442.0,72be5f7bac89,8,Для дома и дачи,7000.0,Алтайский край,Мягкая мебель,548d266baeda,Private
1503415,2017-03-15,Квартиры,Копейск,0.00000,Дом сдан заселен. Свидетельство о собственност...,85229dc0f6bb7d3735a59724d05e996a921a9e50cb6811...,2221.0,d4bf418c598e,6,Недвижимость,1850000.0,Челябинская область,"2-к квартира, 59 м², 5/10 эт.",a45156b6ccfc,Private
1503416,2017-03-24,"Одежда, обувь, аксессуары",Тула,0.00000,"Продам Новые резиновые сапоги Lucky Land, разм...",3c67c7fca10a8e7a0b104248b8731394fd6871ef164b0d...,494.0,a927b25d4daa,89,Личные вещи,200.0,Тульская область,"Резиновые сапоги Lucky Land, размер 36,37,38.Н...",5db5d1e60f38,Private
1503417,2017-03-27,Автомобили,Ставрополь,0.73760,Продаю по обстоятельствам. Машина в хорошем со...,5998ed044fa7b6f99dbe66260caf3fd5bf9e211cbe9363...,2264.0,21a474db168f,13,Транспорт,160000.0,Ставропольский край,"ВАЗ 2114 Samara, 2009",28ca07eeb01a,Private
1503418,2017-03-17,"Одежда, обувь, аксессуары",Оренбург,0.12869,"В хорошем состоянии, ткань плотная (рисунок т...",18f8dffacd5516ec8b824a2e846d8d12d75a7a964804a7...,387.0,8ab4c1e56046,10,Личные вещи,500.0,Оренбургская область,"Платье фирмы zarina, размер 50",97146e7aea69,Private
1503419,2017-03-20,Детская одежда и обувь,Пермь,0.25019,NaN,2da79294c6f23f61d4bf6a8f4034f87e2f318b7e32c68b...,88.0,5e6b7f0f3f65,7,Личные вещи,300.0,Пермский край,Ботиночки,dd05217165ea,Private
1503420,2017-03-28,Предложение услуг,Краснодар,0.60000,"Произведем бесплатный замер, изготовим и устан...",33e13a67b441486ebe48e1459382caa620c4d1802aad1c...,1191.0,d1f0910d2126,1,Услуги,200.0,Краснодарский край,Натяжной потолок,dc23ef451c8a,Private
1503421,2017-03-21,Квартиры,Белебей,0.39569,"Продам квартиру с отличным ремонтом , две лодж...",2ae822ca21cff9465e430c68a1df31c5cda658cbc00eb1...,1202.0,bc04866bc803,50,Недвижимость,NaN,Башкортостан,"4-к квартира, 83 м², 4/5 эт.",66a7016a5995,Company
1503422,2017-03-22,Детская одежда и обувь,Березники,0.00000,Продам красивые туфли в хорошем состоянии!,6b4285c22388a5dae37c3d390d3e1b174f7a980d9e3919...,87.0,f782f2ad9349,33,Личные вещи,350.0,Пермский край,Туфли-балетки,2d3ac1f5a7b3,Private
1503423,2017-03-21,Товары для детей и игрушки,Анапа,0.00000,ПРЕДЛАГАЕМ ВАШЕМУ ВНИМАНИЮ УНИКАЛЬНЫЕ ИГРУШКИ ...,87cca5889b96b0368bffbe7cdb3f0cc5fa660f33be9fd0...,979.0,9ad3b7bff1db,18,Личные вещи,1500.0,Краснодарский край,Кукольные домики из берез. фанеры (большой выбор),f3342ccd95c8,Private

# 2. Processando dados

In [17]:
print('Nº. de amostras:', len(df_train.index))

Nº. de amostras: 1503424

Justificar, com base nessa primeira olhada nos dados, as trasformações de preprocessamento a serem realizadas: imputação de dados faltantes, vetorização de dados textuais, redução de dimensionalidade com PCA (ou eliminação direta, perguntar ao Fabrício), normalização (apenas para os algoritmos que se beneficiam)

A partir dessa primeira exploração dos dados, podemos ver que o dataset é bastante heterogêneo. Nele, podemos observar features categóricas, numéricas e textuais, o que significa que teremos que executar algumas etapas de preprocessamento antes de treinar algum modelo.

In [5]:
# O atributo as_df determina se o resultado do transformador é um DataFrame. Isso é necessário caso queiramos efetuar
# seleções posteriores sobre o resultado desse transformador
class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names, as_df=False):
        self.attribute_names = attribute_names
        self.as_df = as_df
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        return X[self.attribute_names] if self.as_df else X[self.attribute_names].values

In [6]:
# Usando o transformador para tomar colunas específicas
selector = DataFrameSelector(['price'], as_df=True)
X_test = selector.transform(df_train)

In [32]:
X_test.head()

     price
0    400.0
1   3000.0
2   4000.0
3   2200.0
4  40000.0

In [33]:
# Usando o transformador para ignorar colunas específicas
selector = DataFrameSelector(df_train.columns.difference(['item_id', 'user_id', 'param_1', 'param_2', 'param_3']), as_df=True)
X_test = selector.transform(df_train)

In [34]:
X_test.head()

,activation_date,category_name,city,deal_probability,description,image,image_top_1,item_seq_number,parent_category_name,price,region,title,user_type
0,2017-03-28,Товары для детей и игрушки,Екатеринбург,0.12789,"Кокон для сна малыша,пользовались меньше месяц...",d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...,1008.0,2,Личные вещи,400.0,Свердловская область,Кокоби(кокон для сна),Private
1,2017-03-26,Мебель и интерьер,Самара,0.00000,"Стойка для одежды, под вешалки. С бутика.",79c9392cc51a9c81c6eb91eceb8e552171db39d7142700...,692.0,19,Для дома и дачи,3000.0,Самарская область,Стойка для Одежды,Private
2,2017-03-20,Аудио и видео,Ростов-на-Дону,0.43177,"В хорошем состоянии, домашний кинотеатр с blu ...",b7f250ee3f39e1fedd77c141f273703f4a9be59db4b48a...,3032.0,9,Бытовая электроника,4000.0,Ростовская область,Philips bluray,Private
3,2017-03-25,Товары для детей и игрушки,Набережные Челны,0.80323,Продам кресло от0-25кг,e6ef97e0725637ea84e3d203e82dadb43ed3cc0a1c8413...,796.0,286,Личные вещи,2200.0,Татарстан,Автокресло,Company
4,2017-03-16,Автомобили,Волгоград,0.20797,Все вопросы по телефону.,54a687a3a0fc1d68aed99bdaaf551c5c70b761b16fd0a2...,2264.0,3,Транспорт,40000.0,Волгоградская область,"ВАЗ 2110, 2003",Private

## 2.1. Removendo atributos

O dataset tem alguns atributos que não são exatamente úteis para nossa modelagem, como *item_id* e *user_id*. Ainda, não faremos qualquer processamento de imagens. então, o atributo de identificadores de imagens, *image* não nos tem serventia.Vamos declarar um seletor inicial, responsável por produzir um DataFrame sem esses atributos. Esse DataFrame servirá de base para nossas transfomações posteriores:

In [6]:
features_selector = DataFrameSelector(X_train.columns.difference(['item_id', 'user_id', 'image']), as_df=True)

Quando aplicado ao dataset, temos:

In [7]:
X_transf = features_selector.transform(X_train)

In [8]:
X_transf.head()

,activation_date,category_name,city,description,image_top_1,item_seq_number,param_1,param_2,param_3,parent_category_name,price,region,title,user_type
0,2017-03-28,Товары для детей и игрушки,Екатеринбург,"Кокон для сна малыша,пользовались меньше месяц...",1008.0,2,Постельные принадлежности,NaN,NaN,Личные вещи,400.0,Свердловская область,Кокоби(кокон для сна),Private
1,2017-03-26,Мебель и интерьер,Самара,"Стойка для одежды, под вешалки. С бутика.",692.0,19,Другое,NaN,NaN,Для дома и дачи,3000.0,Самарская область,Стойка для Одежды,Private
2,2017-03-20,Аудио и видео,Ростов-на-Дону,"В хорошем состоянии, домашний кинотеатр с blu ...",3032.0,9,"Видео, DVD и Blu-ray плееры",NaN,NaN,Бытовая электроника,4000.0,Ростовская область,Philips bluray,Private
3,2017-03-25,Товары для детей и игрушки,Набережные Челны,Продам кресло от0-25кг,796.0,286,Автомобильные кресла,NaN,NaN,Личные вещи,2200.0,Татарстан,Автокресло,Company
4,2017-03-16,Автомобили,Волгоград,Все вопросы по телефону.,2264.0,3,С пробегом,ВАЗ (LADA),2110,Транспорт,40000.0,Волгоградская область,"ВАЗ 2110, 2003",Private

In [65]:
df_train.isnull().sum()

region                       0
city                         0
parent_category_name         0
category_name                0
param_1                  61576
param_2                 654542
param_3                 862565
title                        0
description             116276
price                    85362
item_seq_number              0
activation_date              0
user_type                    0
image_top_1             112588
deal_probability             0
dtype: int64

## 2.2. Tratando datas

Vamos transformar a coluna *activation_date* em três atributos mais relevantes: *month*, *day* e *weekday*:

In [9]:
# Essa transformação espera uma única série de timestamps e retorna um DataFrame
class TimestampTransformer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        return pd.DataFrame(
            np.c_[
                X.dt.month,
                X.dt.day,
                X.dt.weekday
            ],
            columns=['month', 'day', 'weekday']
        )

Quando aplicamos esse transformador ao dataset obtemos:

In [10]:
process_date = Pipeline([
    ('date_series_selector', DataFrameSelector('activation_date', as_df=True)),
    ('date_features_transformer', TimestampTransformer())
])

X_test = process_date.transform(X_train)

In [11]:
df_test = pd.DataFrame(X_test, columns=['month', 'day', 'weekday'])

In [12]:
df_test.head()

   month  day  weekday
0      3   28        1
1      3   26        6
2      3   20        0
3      3   25        5
4      3   16        3

## 2.2. Imputando dados faltantes

Para o atributo de preço, vamos imputar a média dos valores conhecidos:

In [13]:
price_imputer = Imputer(strategy='mean')

process_price = Pipeline([
    ('price_selector', DataFrameSelector(['price'])),
    ('price_imputer', price_imputer)
])

X_price = process_price.fit_transform(df_train)

In [14]:
df_test = pd.DataFrame(X_price, columns=['price'])

In [15]:
df_test.head()

     price
0    400.0
1   3000.0
2   4000.0
3   2200.0
4  40000.0

Para o atributo *image_top_1* vamos imputar o valor mais frequente:

In [16]:
image_imputer = Imputer(strategy='most_frequent')

process_image_class = Pipeline([
    ('image_selector', DataFrameSelector(['image_top_1'])),
    ('image_imputer', image_imputer)
])

X_image = process_image_class.fit_transform(df_train)

In [17]:
df_test = pd.DataFrame(X_image, columns=['image_top_1'])

In [18]:
df_test.head()

   image_top_1
0       1008.0
1        692.0
2       3032.0
3        796.0
4       2264.0

Para atributos categóricos, vamos também adotar a estratégia de imputar a classe mais frequente para cada coluna:

In [223]:
X = DataFrameSelector(['param_2']).fit_transform(df_train)

In [167]:
pd.isnull(X).sum()

654542

In [168]:
X.shape

(1503424, 1)

In [224]:
X =  X.astype(str)

In [225]:
X

array([['nan'],
       ['nan'],
       ['nan'],
       ...,
       ['4'],
       ['Обувь'],
       ['nan']], dtype='<U34')

In [226]:
X = np.place(X, X == 'nan', np.nan)

In [227]:
X

In [202]:
le = LabelEncoder()
X_transf = le.fit_transform(X.ravel().astype(str))

In [170]:
X_transf

array([107, 107, 107, ...,   3, 193, 107], dtype=int64)

In [171]:
pd.isnull(X_transf).sum()

0

In [139]:
cat_pipeline = Pipeline([
    ('param_1_selector', DataFrameSelector(['param_1'])),
    ('label_encoder', LabelEncoder()),
    ('cat_imputer', Imputer(strategy='most_frequent'))
])
X_inp = cat_pipeline.fit_transform(df_train)

TypeError: fit_transform() takes 2 positional arguments but 3 were given

## 2.3. Codificando atributos categóricos

Contagem de classes nas features categóricas:

In [3]:
# print('user_ids:', len(np.unique(df_train['user_id'])))
print('Regions:', len(np.unique(df_train['region'])))
print('cities:', len(np.unique(df_train['city'])))
print('parent_category_names:', len(np.unique(df_train['parent_category_name'])))
print('category_names:', len(np.unique(df_train['category_name'])))
print('param_1:', len(np.unique(df_train['param_1'][~pd.isnull(df_train['param_1'].values)].values)))
print('param_1 as str:', len(np.unique(df_train['param_1'].astype(str).values)))
print('param_2:', len(np.unique(df_train['param_2'][~pd.isnull(df_train['param_2'].values)].values)))
print('param_3:', len(np.unique(df_train['param_3'][~pd.isnull(df_train['param_3'].values)].values)))
print('activation_dates:', len(np.unique(df_train['activation_date'])))
print('user_types:', len(np.unique(df_train['user_type'])))
print('image_top_1:', len(np.unique(df_train['image_top_1'])))

Regions: 28
cities: 1733
parent_category_names: 9
category_names: 47
param_1: 371
param_1 as str: 372
param_2: 271
param_3: 1219
activation_dates: 21
user_types: 3
image_top_1: 115650

As colunas *region*, *city*, *parent_category_name*, *category_name*, *param_1*, *param_2*, *param_3* e *user_type* são atributos categóricos nominais. Isso significa que, para cada amostra, essas entradas assumem um dentre um número finito de classes possíveis. Além disso, não existe uma ordem entre as possíveis classes de uma dessas categorias. Uma forma óbvia para codificar numericamente um atributo categórico é substituir cada classe desse atributo por um número inteiro. Entretanto, se fizésssemos isso, estaríamos inserindo uma falsa informação de ordem entre as classes. Uma técnica muito comum para lidar com essa situação é o One-Hot Encoding, onde uma coluna é criada para cada classe de um atributo categórico:

**Atenção**: Aparentemente, fazer o One Hot Encoding por get_dummies é bem estúpido, pois não faz proveito das otimizações de matrizes esparsas do SciPy. Acho que deveria usar dataframes apenas para carregamento dos dados e após, usar apenas classes do numpy e scipy

Vamos criar um transformador personalizado para codificar essas categorias:

Também vamos aproveitar para fazer a imputação de categorias faltantes após a codificação

In [49]:
process_cat_user_type = Pipeline([
    ('user_type_selector', DataFrameSelector(
        ['region', 'city', 'parent_category_name', 'category_name', 'param_1', 'param_2', 'param_3', 'user_type'],
        as_df=True
    )),
    ('ordinal_encoder', OrdinalEncoder()),
    ('cat_imputer', Imputer(missing_values=-1, strategy='most_frequent'))
])

start = time.time()

X_transf = process_cat_user_type.fit_transform(X_train)

end = time.time()
print('Elapsed time:', end-start)

Elapsed time: 1147.6574611663818

In [50]:
X_transf[:5]

array([[ 0.,  0.,  0.,  0.,  0.,  4., 11.,  0.],
       [ 1.,  1.,  1.,  1.,  1.,  4., 11.,  0.],
       [ 2.,  2.,  2.,  2.,  2.,  4., 11.,  0.],
       [ 3.,  3.,  0.,  0.,  3.,  4., 11.,  1.],
       [ 4.,  4.,  3.,  3.,  4.,  1.,  1.,  0.]])

## 2.4. Codificando atributos textuais

In [4]:
df_train.isnull().sum()

item_id                      0
user_id                      0
region                       0
city                         0
parent_category_name         0
category_name                0
param_1                  61576
param_2                 654542
param_3                 862565
title                        0
description             116276
price                    85362
item_seq_number              0
activation_date              0
user_type                    0
image                   112588
image_top_1             112588
deal_probability             0
dtype: int64

param_1, param_2 e param_3 são parâmetros adicionais de classificação do modelo de anúncios da plataforma. Podem não ser muito essenciais. image é o identificador do jpeg associado ao anúncio. Como não analizaremos imagens, parece seguro ignorar essa feature. image_top_1 é uma incógnita. Não sei seu significado. Como é relacionado com imagens, irei ignorar. Talvez *item_seq_number* também seja ignorável.

In [31]:
df_train.drop(columns=['param_1', 'param_2', 'param_3' , 'image_top_1'], inplace=True)

In [33]:
df_train.drop(columns=['item_id', 'user_id', 'title', 'description', 'item_seq_number', 'activation_date', 'image'], inplace=True)

In [34]:
df_train.head(10)

,price,deal_probability,region_Башкортостан,region_Белгородская область,region_Владимирская область,region_Волгоградская область,region_Воронежская область,region_Иркутская область,region_Калининградская область,region_Кемеровская область,...,category_name_Собаки,category_name_Спорт и отдых,category_name_Телефоны,category_name_Товары для детей и игрушки,category_name_Товары для животных,category_name_Товары для компьютера,category_name_Фототехника,category_name_Часы и украшения,user_type_Private,user_type_Shop
0,400.0,0.12789,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,3000.0,0.00000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,4000.0,0.43177,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2200.0,0.80323,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,40000.0,0.20797,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,1300.0,0.80323,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
6,11000.0,0.00000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7,500.0,0.80323,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8,500.0,0.00000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,400.0,0.00000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

O que fazer quanto as datas?

In [6]:
df_train.activation_date.values[:10]

array(['2017-03-28', '2017-03-26', '2017-03-20', '2017-03-25',
       '2017-03-16', '2017-03-28', '2017-03-23', '2017-03-25',
       '2017-03-17', '2017-03-22'], dtype=object)

In [9]:
dates = pd.DatetimeIndex(df_train.activation_date.values)

In [10]:
dates

DatetimeIndex(['2017-03-28', '2017-03-26', '2017-03-20', '2017-03-25',
               '2017-03-16', '2017-03-28', '2017-03-23', '2017-03-25',
               '2017-03-17', '2017-03-22',
               ...
               '2017-03-24', '2017-03-15', '2017-03-24', '2017-03-27',
               '2017-03-17', '2017-03-20', '2017-03-28', '2017-03-21',
               '2017-03-22', '2017-03-21'],
              dtype='datetime64[ns]', length=1503424, freq=None)

In [8]:
dates.year.max()

2017

In [9]:
dates.year.min()

2017

In [16]:
dates.month.min()

3

In [17]:
dates.month.max()

4

Todas as datas são de 2017. Poderia projetá-las em 12 categorias representando os meses ou talvez uma categorização ainda mais fina

Não sei se existe uma técnica de imputação para lidar com dados textuais faltantes. Talvez tenhamos que eliminar as amostras que não tenham descrição.

Imputações deveriam ser feitas antes ou depois de eliminações de amostras?

Não gostaria de ignorar a feature 'preço', pois me parece extremamente relevante para o sucesso do anúncio. Nesse caso, uma imputação da média pode ser interessante:

In [10]:
df_train[['price']]

             price
0            400.0
1           3000.0
2           4000.0
3           2200.0
4          40000.0
5           1300.0
6          11000.0
7            500.0
8            500.0
9            400.0
10         18000.0
11             1.0
12            70.0
13          2500.0
14          5000.0
15           800.0
16        140000.0
17           500.0
18          1000.0
19        100000.0
20       1748000.0
21          2600.0
22        249000.0
23          1300.0
24             NaN
25          1500.0
26          1000.0
27          1500.0
28          1000.0
29           200.0
...            ...
1503394     2000.0
1503395    20000.0
1503396        NaN
1503397      450.0
1503398      500.0
1503399      300.0
1503400      400.0
1503401      250.0
1503402   720000.0
1503403      500.0
1503404  1300000.0
1503405     3000.0
1503406     3000.0
1503407      300.0
1503408  1600000.0
1503409      480.0
1503410     3000.0
1503411      150.0
1503412      150.0
1503413     8000.0
1503414     7000.0
1503415  1850000.0
1503416      200.0
1503417   160000.0
1503418      500.0
1503419      300.0
1503420      200.0
1503421        NaN
1503422      350.0
1503423     1500.0

[1503424 rows x 1 columns]

In [11]:
from sklearn.preprocessing import Imputer

imr = Imputer(missing_values='NaN', strategy='mean', axis=0)

imr.fit(df_train[['price']].values)
imputed_prices = imr.transform(df_train[['price']].values)

df_train.price = imputed_prices

In [12]:
df_train.head(10)

,item_id,user_id,region,city,parent_category_name,category_name,title,description,price,item_seq_number,activation_date,user_type,deal_probability
0,b912c3c6a6ad,e00f8ff2eaf9,Свердловская область,Екатеринбург,Личные вещи,Товары для детей и игрушки,Кокоби(кокон для сна),"Кокон для сна малыша,пользовались меньше месяц...",400.0,2,2017-03-28,Private,0.12789
1,2dac0150717d,39aeb48f0017,Самарская область,Самара,Для дома и дачи,Мебель и интерьер,Стойка для Одежды,"Стойка для одежды, под вешалки. С бутика.",3000.0,19,2017-03-26,Private,0.00000
2,ba83aefab5dc,91e2f88dd6e3,Ростовская область,Ростов-на-Дону,Бытовая электроника,Аудио и видео,Philips bluray,"В хорошем состоянии, домашний кинотеатр с blu ...",4000.0,9,2017-03-20,Private,0.43177
3,02996f1dd2ea,bf5cccea572d,Татарстан,Набережные Челны,Личные вещи,Товары для детей и игрушки,Автокресло,Продам кресло от0-25кг,2200.0,286,2017-03-25,Company,0.80323
4,7c90be56d2ab,ef50846afc0b,Волгоградская область,Волгоград,Транспорт,Автомобили,"ВАЗ 2110, 2003",Все вопросы по телефону.,40000.0,3,2017-03-16,Private,0.20797
5,51e0962387f7,bbfad0b1ad0a,Татарстан,Чистополь,Личные вещи,Товары для детей и игрушки,Авто люлька,В хорошем состоянии,1300.0,9,2017-03-28,Private,0.80323
6,c4f260a2b48a,08f469d2e6f7,Нижегородская область,Нижний Новгород,Для дома и дачи,Ремонт и строительство,Водонагреватель 100 литров нержавейка плоский,Электро водонагреватель накопительный на 100 л...,11000.0,125,2017-03-23,Private,0.00000
7,6b71309d6a8a,fef86baa002c,Пермский край,Пермь,Личные вещи,"Одежда, обувь, аксессуары",Бойфренды colins,Бойфренды в хорошем состоянии.,500.0,61,2017-03-25,Private,0.80323
8,c5b969cb63a2,055825270190,Оренбургская область,Оренбург,Личные вещи,"Одежда, обувь, аксессуары",Платье,54 раз мер очень удобное,500.0,85,2017-03-17,Private,0.00000
9,b1570962e68c,f9e8f831d94c,Нижегородская область,Нижний Новгород,Личные вещи,Детская одежда и обувь,Полу ботиночки замш натур.Бамбини,По стельке 15.5см мерить приокский район. Цвет...,400.0,136,2017-03-22,Company,0.00000

In [13]:
df_train.isnull().sum()

item_id                      0
user_id                      0
region                       0
city                         0
parent_category_name         0
category_name                0
title                        0
description             116276
price                        0
item_seq_number              0
activation_date              0
user_type                    0
deal_probability             0
dtype: int64

**Lembrar de aplicar transformações também aos dados de teste, MAS O TRANSFORMADOR DEVE SER TREINADO APENAS COM OS DADOS DE TREINO**

Agora, é preciso codificar as features categóricas nominais: region, city, parent_category_name e user_type. Provavelmente teremos de usar one-hot encoding